* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url(assets/bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;


    animation: particles-move 20s linear infinite;
    pointer-events: none;
    z-index: -1;

}

.wrapper {
    text-align: center;
}

.heading {
    color: #fff;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 6px;
    margin-bottom: 25px;
    animation: fadeEffect 5s infinite;

}

.description {
    color: #bababa;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Lucida Sans;
}

.timer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sub_timer {
    width: 220px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    overflow: hidden;
}

.digit {
    color: #fff;
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    padding: 2.5rem 0;
}

.digit_name {
    color: #000;
    background: #fff;
    text-align: center;
    padding: 0.6rem 0;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.44);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: ABeeZee;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}




/*animation part */

body {
    background: linear-gradient(35deg, #f4a2a4, #000044, #37818a, #552fb6);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




/*////////////////////////*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes particles-move {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

@keyframes fadeEffect {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


/*
////////////////////////////////////////////////////////////*/
